.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.up {
  background: #42da19;
}

.down {
  background: #ff4a55;
}

.down .rocket {
  transform: rotate(90deg);
}

h1 {
  font-size: 4rem;
  color: #fff;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}

.rocket {
  transition: all 0.3s;
  font-size: 8rem;
  margin-right: 36px;
}

.gme {
  display: flex;
  align-items: center;
}
